header {

    .navbar {

        .container-fluid{

            .navbar-brand {
                
                h1{
                    width: 80px;
                    font-size: 23px;
                    font-weight: 800;
                }

            }

            div {

                .navbar-nav {
                    align-items: center;
                    li{

                        .nav-link {
                            color: #fff;
                            font-size: 1.1em;
                            padding: 0.5em 1em;
                            font-weight: 700;
                        }

                    }

                    li{

                        .nav-link{
                            color: #fff;
                            font-size: 1.1em;
                            padding: 0.5em 1em;
                            font-weight: 700;
                        }

                    }

                    a {

                        h1{
                            width: 80px;
                            font-size: 23px;
                            font-weight: 800;
                        }
                    }

                    li{

                        .nav-link{
                            color: #fff;
                            font-size: 1.1em;
                            padding: 0.5em 1em;
                            font-weight: 700;
                        }

                    }

                    li{

                        .nav-link{
                            color: #fff;
                            font-size: 1.1em;
                            padding: 0.5em 1em;
                            font-weight: 700;
                        }

                    }

                }

                    

            }
        }
    }

}
